body {
  background-color: #d7d7d8;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 500px; }

header {
  grid-area: encabezado;
  background: darkslategrey;
  background-image: linear-gradient(to right, #364141, #55828f);
  color: white;
  text-align: center; }
  header div {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; }

nav {
  background-color: #55828f; }
  nav li {
    display: inline-block;
    padding: 12px; }
  nav img {
    width: 25px; }

.div-one {
  text-align: center; }

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  main p {
    text-align: center; }
  main div {
    grid-area: 1 / 1 / 2 / 2;
    background: darkslategrey;
    background-image: linear-gradient(to right, #a2d6fc, #55828f);
    text-align: center; }
  main img {
    width: 700px; }

.div-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .div-2 p {
    text-align: center; }
  .div-2 div {
    grid-area: 1 / 1 / 2 / 2;
    background: darkslategrey;
    background-image: linear-gradient(to right, #a2d6fc, #55828f);
    text-align: center; }
  .div-2 img {
    width: 700px; }

footer {
  background-color: #55828f; }
  footer li {
    display: inline-block;
    padding: 12px; }
  footer img {
    width: 25px; }
